<div class="card-trip">
  <% if pet.photos.attached? %>
    <img src="<%= cl_image_path pet.photos.first.key, height: 300, crop: :fill %>" />
  <% else %>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to "#{pet.name} (#{pet.species})", pet_path(pet) %></h2>
      <p><%= pet.description %></p>
    </div>
    <div>
      <h2 class="card-trip-pricing"><%= number_to_currency(pet.price) %></h2>
      <h2 class="card-trip-danger">Danger: <%= pet.danger_meter %>/5</h2>
    </div>
    <%= render "components/avatar", user: pet.user %>
  </div>
</div>
