<div class="container">
  <h1>Pets</h1>
  <% @pets.each do |pet| %>
    <div class="card pet-card">
      <p class="pet-name"><%= pet.name %></p>
      <div class="d-flex justify-content-around">
        <p class="pet-type"><%= pet.type %></p>
        <p class="pet-danger">Danger Meter: <%= pet.danger_meter %>/5</p>
        <p class="pet-price"><%= pet.price %></p>
      </div>
      <p class="pet-description"><%= pet.description %></p>
    </div>
  <% end %>
</div>