<div class="d-flex">
  <div class="details">
  <div class="title mb-5">
    <h1 class="d-inline"><%= @pet.name %></h1> - <h4 class="d-inline">$<%= @pet.price %>/week</h4>
    <%= link_to "Rrrrent Me", new_pet_booking_path(@pet), class: "booking-link d-block"  %>
  </div>
    <h4>Details</h4>
    <ul>
      <li><strong>Species</strong>: <%= @pet.species %></li>
      <li><strong>Location</strong>: <%= @pet.location %></li>
      <li><strong>Danger Meter</strong>: <%= @pet.danger_meter %>/5</li>
      <li><strong>Owner</strong> : <%= @pet.user.name %></li>
    </ul>

    <h4>Description</h4>
    <p><%= @pet.description %></p>
  </div>
</div>

<% if @pet.photos.attached? %>
  <%= render "components/carousel", pet: @pet %>
<% else %>
  <img src="https://images.unsplash.com/photo-1546182990-dffeafbe841d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1940&q=80" alt="" class="d-block w-50", style="height: 200px;">
<% end %>