<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%# create a form to get the start/end date of the booking %>
<%# where is this form going to be directed to? %>
<%# form will be directed to a 'create' action (it will be a nested route) %>
<%# the form will be nested, pet_id to create booking %>

<div>
  <%= simple_form_for @booking do |f| %>
    <%# <%= f.input :pet_id %> %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit", class: "btn btn-primary"%>
  <% end %>
</div>
